@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scroll-hide::-webkit-scrollbar {
      display: none;
    }
    .scroll-hide{
        scroll-behavior: none;
    }
    .scroll-hide{
        -ms-overflow-style: none;
    }
}
